.sweepButton {
	width:30px;
	height:30px;
	font-weight: bold;
	font-size: 18px;
	padding: 0 !Important;
}
.container { 
	float:left;
}
#Watch {
	margin-left:1%;
}
.one {
	color:#0000FF !Important;
}
.two {
	color:#3C933C !Important;
}
.three {
	color:#FF0000 !Important;
}
.four {
	color:#04047D !Important;
}
.five {
	color:#840000 !Important;
}
.six {
	color:#018286 !Important;
}
.bomb {
	background:url(mines.png) no-repeat
}