<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KnockOut Mine Sweeper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- styles -->
	<link href="css/style.css" media="screen" rel="stylesheet" type="text/css">
  </head>

  <body>
	<div class="container" id="content">
		<div id="Watch"><label data-bind="text:minutesDisplay"></label>:<label data-bind="text:secondsDisplay"></label></div>
		<label></label>
		<select data-bind="options: $root.levels, optionsText:'description', value: level">		
		</select>
		<button data-bind="click: generateGrid">Start Game!</button>
		<table>
		<tbody class="grid" data-bind="foreach: grid" >
			<tr data-bind="foreach: $data">
				<td><button class="sweepButton" data-bind="text: $data.display, click: $root.OpenItem, enable: !$data.open(), css:$data.displayClass"></button></td>
			</tr>
		</tbody>
		</table>
	</div>
	<!-- Javascript Goes Here -->
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
	<script src="js/dist/komines.js"></script>
	<script>
		 $(function() {
			ko.applyBindings(new mineSweeper.MineSweeperViewModel());
		}); 
		
	</script>
	 </body>
</html>
